<h1>URL Shortener</h1>
<br>
<form class="form-inline" role="form" id="form_id" action="<%= urls_url %>" method="post">
  <%= form_auth %>
  <div class="form-group">
    <label for="long-url">Input Url</label>
    <input id="long-url" class="form-control" type="url" name="url[long_url]" value="<%= @url.long_url if @url %>" placeholder="http://www.example.com">
    <button type="submit" class="btn btn-primary">Shorten</button>
  </div>
</form>
<br>


<form class="form-inline" role="form" id="form_id" action="<%= redirect_to_url %>" method="post">
  <%= form_auth %>
  <div class="form-group">
    <label for="long-url">Short Url</label>
    <input id="short-url"
           class="form-control"
           type="text"
           name="url[short_url]"
           value="<%= @url.short_url if @url %>"
           placeholder="<%= SecureRandom.urlsafe_base64(8) %>">
    <button id="go-button" type="submit" class="btn btn-primary">Go</button>
  </div>

</form>
<br>

<h1>Top 100 Visited URLs</h1>
<br>
<ul class="list-unstyled top-urls">
  <% @urls.each do |url| %>
  <li>
    <a href="" data-short-url="<%= url.short_url %>" data-long-url="<%= url.long_url %>" target="_blank">
    <%= url.short_url %>
    </a>
    <span> visits: <%= url.num_visits %> </span>
  </li>
  <% end %>
</ul>

<script>
  $('.top-urls').on("click", function(event) {
    event.preventDefault();
    var longUrl = event.target.dataset.longUrl;
    var shortUrl = event.target.dataset.shortUrl;
    $('#long-url').attr('value', longUrl);
    $('#short-url').attr('value', shortUrl);

  });

  $('#go-button').on("click", function(event) {
    var shortUrl = $('#short-url').attr('value');
    $.ajax({
      type: 'post',
      url: '/urls/get_short',
      data: {
        'url': {
          'short_url': shortUrl
        }
      },
      success: function(data) {
        var win = window.open(data['long_url'], '_blank');
        if(win){
          //Browser has allowed it to be opened
          win.focus();
        }else{
          //Broswer has blocked it
          alert('Please allow popups for this site');
        }
      },
    });

  })
</script>
