<h1>URL Shortener</h1>

<form role="form" id="form_id" action="<%= urls_url %>" method="post">
  <%= form_auth %>
  <div class="form-group">
    <label for="long-url">Input Url</label>
    <input id="long-url" type="url" name="url[long_url]" value="<%= @url.long_url if @url %>" placeholder="http://www.example.com">
  </div>
  <button type="submit" class="btn btn-primary">Shorten</button>
</form>

<% if @url %>
  <h2><%= @url.short_url %></h2>
<% end %>

<form role="form" id="form_id" action="<%= redirect_to_url %>" method="post">
  <%= form_auth %>
  <div class="form-group">
    <label for="long-url">Short Url</label>
    <input id="short-url" type="text" name="url[short_url]" value="<%= @url.short_url if @url %>" placeholder="<%= SecureRandom.urlsafe_base64(8) %>">
  </div>
  <button type="submit" class="btn btn-primary">Go</button>
</form>

<ul class="top-urls">
  <% @urls.each do |url| %>
  <li>
    <a href="" data-short-url="<%= url.short_url %>" data-long-url="<%= url.long_url %>" target="_blank">
    <%= url.short_url %>
    </a>
    <span> visits: <%= url.num_visits %> </span>
  </li>
  <% end %>
</ul>

<script>
  $('.top-urls').on("click", function(event) {
    event.preventDefault();
    var longUrl = event.target.dataset.longUrl;
    var shortUrl = event.target.dataset.shortUrl;
    $('#long-url').attr('value', longUrl);
    $('#short-url').attr('value', shortUrl);

  });
</script>
