<h1>URL Shortener</h1>
<br>
<form class="form-inline" role="form" id="form_id" action="<%= urls_url %>" method="post">
  <%= form_auth %>
  <div class="form-group">
    <label for="long-url">Input Url</label>
    <input id="long-url" class="form-control" type="url" name="url[long_url]" value="<%= @url.long_url if @url %>" placeholder="http://www.example.com">
    <button type="submit" class="btn btn-primary">Shorten</button>
  </div>
</form>

<% if @url %>
<h1><a href="/<%= @url.short_url %>" class="top-urls" target="_blank"><%= @url.short_url %></a></h1>
<% end %>

<br>
<h1>Top 100 Visited URLs</h1>
<br>
<ul class="list-unstyled top-urls">
  <% @urls.each do |url| %>
  <li>
    <a href="/<%= url.short_url %>" data-long-url="<%= url.long_url %>" target="_blank">
    <%= url.short_url %>
    </a>
    <span> visits: <%= url.num_visits %> </span>
  </li>
  <% end %>
</ul>

<script>
  $('.top-urls').on("click", function(event) {
    setTimeout(function(){
      location = ''
    },1500);
  });
</script>
